body {
    font-family: Inter, sans-serif;
    font-family: Readex Pro, sans-serif;
}

/* Mobile devices (devices less than 600px) */
@media (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);

        .logo {
            height: 50px;
        }

        .nav-items {
            display: flex;
            list-style: none;

            li {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: black;
                    text-align: center;
                }

                &.dropdown {
                    &:hover .dropdown-content {
                        display: block;
                    }
                }
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 600px;
            /* set width to 100% of viewport width */
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 3;
            left: 0;
            /* set left to 0 to center the dropdown */
            transform: translateX(0);

            .dropdown-main {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;
            }

            .dropdown-footer {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;
            }

            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                text-align: center;
            }
        }

        .icons {
            display: flex;

            .icon {
                height: 30px;
                margin-left: 10px;
            }
        }
    }
}

/* Small devices (devices less than 768px) */
@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 768px;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);

        .logo {
            height: 50px;
        }

        .nav-items {
            display: flex;
            list-style: none;

            li {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: black;
                    text-align: center;
                }

                &.dropdown {
                    &:hover .dropdown-content {
                        display: block;
                    }
                }
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 768px;
            /* set width to 100% of viewport width */
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            left: 0;
            /* set left to 0 to center the dropdown */
            transform: translateX(0);

            .dropdown-main {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;
            }

            .dropdown-footer {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;
            }

            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                text-align: center;
            }
        }

        .icons {
            display: flex;

            .icon {
                height: 30px;
                margin-left: 10px;
            }
        }
    }
}

/* Medium devices (devices less than 992px) */
@media (max-width: 992px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 992px;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);

        .logo {
            height: 50px;
        }

        .nav-items {
            display: flex;
            list-style: none;

            li {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: black;
                    text-align: center;
                }

                &.dropdown {
                    &:hover .dropdown-content {
                        display: block;
                    }
                }
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 1350px;
            /* set width to 100% of viewport width */
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            left: 0;
            /* set left to 0 to center the dropdown */
            transform: translateX(0);

            .dropdown-main {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;
            }

            .dropdown-footer {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;
            }

            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                text-align: center;
            }
        }

        .icons {
            display: flex;

            .icon {
                height: 30px;
                margin-left: 10px;
            }
        }
    }
}

/* Large devices (devices less than 1200px) */
@media (max-width: 1350px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100vw;
        margin: 0 auto;
        position: relative;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);

        .logo {
            height: 50px;
        }

        .nav-items {
            display: flex;
            list-style: none;

            li {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: black;
                    text-align: center;
                }

                &.dropdown {
                    &:hover .dropdown-content {
                        display: block;
                    }
                }
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            width: 100vw;
            /* set width to 100% of viewport width */
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            left: 0;
            /* set left to 0 to center the dropdown */
            transform: translateX(0);

            .dropdown-main {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;
            }
            .dropdown-footer {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 2rem;
            }
            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                text-align: center;
            }
        }
        .icons {
            display: flex;

            .icon {
                height: 30px;
                margin-left: 10px;
            }
        }
    }
}

/* Large devices (devices more than 1350px) */
@media (min-width: 1350px) {
    div {
        background-color: #fff;
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1350px;
            margin: 0 auto;
            position: relative;

            .logo {
                height: 50px;
            }

            .nav-items {
                display: flex;
                list-style: none;
                font-weight: 500;

                li {
                    margin: 0 10px;

                    a {
                        text-decoration: none;
                        color: black;
                        text-align: center;
                    }

                    &.dropdown {
                        /* &:hover .dropdown-content {
                            display: block;
                        } */
                    }
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #fff;
                width: 1350px;
                margin-top:1rem;
                border-top: 1px solid #e2e8f0;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 3;
                left: 0;
                transform: translateX(0);
                .dropdown-main {
                    width: 85%;
                    margin: 0 auto;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    .left-panel {
                        width: 65%;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        .solutions-button-group {
                            width: 100%;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                            text-align: center;
                            .component-container {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.5rem;
                                margin:2rem;
                                &:hover .icon-container {
                                    background-color: blue;
                                }
                                .icon-container {
                                    background-color: #edf2f7;
                                    padding: 0.5rem;
                                    border-radius: 100px;
                                    .icon {
                                        height: 1.5rem;
                                        width: 1.5rem;
                                        color: #718096;
                                    }
                                }
                                .text-container {
                                    display: flex;
                                    flex-direction: column;
                                    text-align: left;
                                    .text-lg {
                                        font-size: 1.125rem;
                                        font-weight: 700;
                                    }
                                    .text-sm {
                                        font-size: 0.875rem;
                                        color: #718096;
                                    }
                                }
                            }
                            .left-button-group {
                                width: 50%;
                                display: flex;
                                flex-flow: column nowrap;
                            }
                            .right-button-group {
                                width: 50%;
                                display: flex;
                                flex-flow: column nowrap;
                            }
                        }
                        .solutions-description {
                            margin:3rem auto;
                            width: 75%;

                        }
                    }
                    .right-panel {
                        width: 35%;
                        height: inherit;
                        margin:2rem;
                        .solutions-main{
                            padding:2rem;
                            display:flex;
                            flex-flow: column nowrap;
                            justify-content: left;
                            border-left: 1px solid #718096;
                            .image-container{
                                width: 100%;
                                display: flex;
                                justify-content: left;
                                align-items: left;
                                .image{
                                    width: 100%;
                                    border-radius: 10px;
                                }
                            }
                            .article{
                                .article-category{
                                    font-size: 0.875rem;
                                    color: #718096;
                                }
                                .article-title{
                                    font-size: 1.125rem;
                                    font-weight: 700;
                                }
                                .article-date{
                                    font-size: 0.875rem;
                                    color: #718096;
                                }
                            }
                        }
                    }
                }
            }
            .icons {
                display: flex;
                flex-flow: row nowrap;
                .icon {
                    height: 30px;
                    padding: 0 10px;
                }
            }
        }
    }
    .main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        max-width: 1350px;
        margin: 0 auto;
        .carousel-container{
            margin: 0.5rem auto;
            width: 100%;
            height: 100%;
            position: relative;
            .carousel{
                margin: 0.5rem;
                display: flex;
                justify-content: space-between;
                height: 35rem;
                .carousel-image-container{
                    position: relative;
                    .carousel-image{
                        position:absolute;
                        height: 100%;
                        width: auto;
                        right: 0;
                        z-index: 1;
                    }
                }
                .carousel-button-group{
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    border-radius: 1rem;
                    background-color: #dce7e3;
                    .carousel-middle-button-group{
                        background-color: #dce7e3;
                        display:flex;
                        flex-flow: row nowrap;
                        align-self: flex-end;
                        margin: 1rem;
                        gap: 1rem;
                        .carousel-middle-button{
                            background-color: #99a29f;
                            border-radius: 1px;
                            height:0.5rem;
                            width: 4rem;
                            &:active{
                                background-color: #010201;
                            }
                            
                        }
                    }
                    .carousel-button{   
                        align-self:center;
                        z-index: 2;
                        &:hover{
                            background-color: #718096;
                        }
                    }
                }
            }
        }
    }
}